.header-strip {
    background-color: #f7f7f7;
    height: 30px;
}

.megaport-logo {
    height: 40px;
    margin-left: 12px;
}

.buttons-header {
    float: right;
}

.body-strip{
    margin-top : -12px;
}

.btn{
    font-weight: 500;
    color: cadetblue;
}