<div class="row">
    <div class="col-12">
        <p class="header-strip"></p>
        <div class="row body-strip">
            <div class="col-3">
                <img src="/assets/megaPort.PNG" class="megaport-logo">
            </div>
            <div class="col-9">
                <div class="buttons-header">
                    <button type="button" class="btn" (click)="redirectModule(1)">Bakery Module</button>
                    <button type="button" class="btn" (click)="redirectModule(2)">Object Fetching</button>
                    <button type="button" class="btn" (click)="redirectModule(3)">Megaport Locations</button>
                </div>
            </div>
        </div>

    </div>
</div>


<router-outlet></router-outlet>
