<div class="row ml-2 mb-2">
    <div class="col-12">
        <h4 class="title">Bakery Details</h4>
    </div>
</div>

<!-- search -->
<div class="row ml-2">
    <div class="col-8 search-header">
        <nav class="navbar">
            <div class="col-6">
                <input type="text" [(ngModel)]="searchValue" class="form-control" id="search"
                    placeholder="Enter the text you want to search">
            </div>
        </nav>
    </div>
</div>


<div class="row">
    <!-- table -->
    <div class="col-8">
        <div class="ml-3 mr-3 rounded">
            <div class="tableWrapper">
                <table class="table table-striped table-bordered mt-1">
                    <thead>
                        <tr>
                            <th scope="col" class="th-sm">Id<i class="bi bi-arrow-up" (click)="sortByAsc('id')"></i><i
                                    class="bi bi-arrow-down" (click)="sortByDesc('id')"></i></th>
                            <th scope="col" class="th-sm">Type<i class="bi bi-arrow-up"
                                    (click)="sortByAsc('type')"></i><i class="bi bi-arrow-down"
                                    (click)="sortByDesc('type')"></i></th>
                            <th scope="col">Name</th>
                            <th scope="col">Topping</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bakeryItems | searchFilter:searchValue">
                            <td>{{ item.id }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.topping }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- form -->
    <div class="col-4 form-header">
        <div class="card">
            <div class="card-header">
                <h3>Add new baked goods</h3>
            </div>
            <div class="card-body">
                <form class="form mr-2" [formGroup]="bakeryForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Id</label>
                            <input type="text" class="form-control" formControlName="id">
                            <span class="text-danger"
                                *ngIf="(bakeryFormControl.id.touched || submitted) && bakeryFormControl.id.errors?.required">
                                Id is required
                            </span>
                        </div>
                        <div class="form-group col-12">
                            <label>Type</label>
                            <input type="text" class="form-control" formControlName="type">
                            <span class="text-danger"
                                *ngIf="(bakeryFormControl.type.touched || submitted) && bakeryFormControl.type.errors?.required">
                                Type is required
                            </span>
                        </div>
                        <div class="form-group col-12">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name">
                            <span class="text-danger"
                                *ngIf="(bakeryFormControl.name.touched || submitted) && bakeryFormControl.name.errors?.required">
                                Name is required
                            </span>
                        </div>
                        <div class="form-group col-12">
                            <label>Topping</label>
                            <input type="text" class="form-control" formControlName="topping">
                            <span class="text-danger"
                                *ngIf="(bakeryFormControl.topping.touched || submitted) && bakeryFormControl.topping.errors?.required">
                                Topping is required
                            </span>
                        </div>
                    </div>
              
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" (click) = "resetForm()">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>