.title {
    font-family: sans-serif;
    text-align: center;
    margin-top : 12px;
    color : #2e2e2e;
}

.table {
    margin-bottom: 0px !important;
}

.table thead tr {
    color: #474747;
    text-align: center;
}

.table tbody tr {
    color: #474747;
    font-weight: 600;
    text-align: center;
}

.table content {
    color: #323232;
    cursor: pointer;
}

th {
    position: sticky;
    background-color: #d7e6e7;
    top: 0;
}

.tableWrapper {
    position: relative;
    overflow: auto;
    border-radius: 2px !important;
    overflow-y: visible;
    max-height: 250px;
}

.table>:not(:first-child) {
    border-top: 2px !important;
}