<div class="row ml-2 mb-2">
  <div class="col-6 offset-md-2">
    <h1>Bakery Details</h1>
  </div>
</div>

<div class="row ml-2">
  <div class="col-6 offset-md-2">
    <table class="table table-striped table-bordered mt-1">
      <thead>
        <tr>
          <th scope="col" class="th-sm">Id<i class="bi bi-arrow-up" (click) = "sortByAsc('id')"></i><i class="bi bi-arrow-down" (click) = "sortByDesc('id')"></i></th> 
          <th scope="col" class="th-sm">Type<i class="bi bi-arrow-up" (click) = "sortByAsc('type')"></i><i class="bi bi-arrow-down" (click) = "sortByDesc('type')"></i></th>
          <th scope="col">Name</th>
          <th scope="col">Topping</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bakeryItems">
          <td>{{ item.id }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.topping }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>