<div class="row ml-2 mb-2">
  <div class="col-6 offset-md-2">
    <h1>Bakery Details</h1>
  </div>
</div>

<div class="row ml-2">
  <div class="col-6 offset-md-2">
    <table class="table table-striped border mt-1">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Topping</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bakeryItems">
          <td>{{ item.id }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.topping }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>